extends ../main
block pagevariables
    - var brands=["Lenovo","Apple","Samsung","Asus","Motorola"]
    - var ourOS =["Androin","IOS","Windows Mobile","Symbian","Custom"]
block title
    | Главная страница

block content
    .crumbs_title
        ul.main-content__list
        li.main-content__item
            a.main-content__link(href="#") Главная
        li.main-content__item >
        li.main-content__item.main-content__item_active
            a.main-content__link(href="#") Каталог
        h1.title-page
            | Мобильные телефоны
    .main-content
        include ../_common/_sidebar
        .content
            .sort
                .sort__left
                    .sort__select--wrap
                        .sort__title
                            | Сортировать по
                        .sort__select
                            select.sort__select-elem
                                - var options = ["по цене", "по популярности"]
                                each option in options
                                    option(value="")= option
                .sort__right
                    .sort__title
                        | Вид каталога
                    .sort__view
                        ul.sort__view-list
                            - var items = ['rows', 'grids', 'lines']
                            each item in items
                                li(class="sort__view-item sort__view-" + item data-view= item)
                                    a(href="#" class="sort__view-link")
                                        .sort__view-icon
            .products
                ul.products__list#products-list
                    - var questions = ['Тип SIM-карты','Количество SIM-карт','Цвет','ОC','Связь 3G','4G (LTE)','GPS-модуль']
                    - Samsung = ['Samsung GT-l9301l GALAXY S 3','Micro-SIM','1','Белый','Android','Есть','Нет','Есть', 4, '11 090', '189238']
                    - Lumia640 = ['Microsoft Lumia 640 RM-1077','Micro-SIM','2','Белый','Windows Phone','Есть','Нет','A-GPS', 4, '10 990', '283135']
                    - Archos = ['Archos 50 Oxygen Plus','Micro-SIM','2','Серый','Android','Есть','Нет','Есть',4,'9 990', '345328']
                    - Philips = ['Philips S398 Black','','2','','Android','','Нет','',4,'8 990', '589338']
                    - Lumia430 = ['Microsoft Lumia 430 RM-10','Micro-SIM','2','Чёрный','Windows Phone','Есть','Нет','A-GPS',4,'5 390', '387228']
                    - Senseit = ['Senseit L301 Black','Micro-SIM','2','Чёрный','Android','Есть','Нет','Есть',4,'4 990', '359110']
                    - HIGHSCREEN = ['HIGHSCREEN WinWin Black','Micro-SIM','2','Чёрный','Windows Phone','Есть','Нет','Есть',4,'3 990', '422105']
                    - Alcatel = ['Alcatel OT4013D PIXI 3(2 SIM)','Micro-SIM','2','Белый','Android','Есть','Нет','A-GPS',4,'3 290', '112234']
                    - Fly = ['Fly IQ434 Era Nano 5','Micro-SIM','2','Чёрный','Android','Нет','Нет','Нет',4,'1 790', '187537']
                    - phones = [Samsung, Lumia640, Archos, Philips, Lumia430, Senseit, HIGHSCREEN, Alcatel, Fly]
                    - for (var i = 0; i < phones.length; i++)
                        li.products__item
                            .products__item-inner
                                .products__left
                                    .products__slideshow
                                        .products__slideshow-block
                                            a(href="#" class="products__slideshow-display")
                                                img(src="img/telephone/shop_"+i+"0.png" alt="" class="products__slideshow-img")
                                            ul.products__slideshow-thumbs
                                                - for (var j = 1; j <= 3; j++)
                                                    li.products__slideshow-item
                                                        a(href="#" class="products__slideshow-link")
                                                            img(src="img/telephone/shop_"+i+j+".png" alt="").products__slideshow-thumb-img
                                        .products__article
                                            .products__article-word Артикул
                                            .products__article-num= phones[i][10]
                                    .products__desc
                                        .products__desc-title= phones[i][0]
                                        ul.products__desc-options
                                            - var index = 0;
                                            - for (var k = 0, c = 1; k < questions.length; k++, c++)
                                                li(class="products__option-item" + ( !(index++ % 2) ? ' products__option-item_colored' : ''))
                                                    .products__option-key= questions[k]
                                                    .products__option-value= phones[i][c]
                                        div(class="products__rating" data-rating= phones[i][8])
                                .products__right
                                    .products__info
                                        .products__price= phones[i][9]
                                            i.rub
                                    .products__info-bottom
                                        a(href="#" class="products__buy-btn") В корзину
                                        .products__availability
                                            | В наличии
            .pagination
                ul.pagination__list
                    li.pagination__item.pagination__item_prev
                        a(href="#" class="pagination__link")
                            .pagination__mark
                    - for (var i = 1; i < 4; i++)
                        li.pagination__item
                            a(href="#" class="pagination__link")
                                .pagination__mark= i
                    li.pagination__item.pagination__item_next
                        a(href="#" class="pagination__link")
                            .pagination__mark
    .attention
        .title-page
            | Важная информация
        .attention__text
            p Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Таким образом рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. &#010; Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
            p Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Таким образом рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. &#010; Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
            p Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Таким образом рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. &#010; Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
            p Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Таким образом рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. &#010; Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
            p Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Таким образом рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. &#010; Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий.
            p Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Таким образом рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. &#010; Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Повседневная практика показывает, что сложившаяся структура организации позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить значение существенных финансовых и административных условий. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки существенных финансовых и административных условий.